@page  "/categories/view"
@page "/categories/view/{CategoryId}"
@using CategoryManegementTool.Client.Components.General

<h3>Category View</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ID</span>
    </div>
    <input type="text" class="form-control" @bind="@Category.Id" disabled>
</div>
<hr />

<div class="card">
    <h5 class="card-header">
        <label>LanguageEntries</label>
    </h5>
    <div class="card-body">
        @if (Category.LanguageEntries != null)
        {
            @foreach (var laguageEntry in Category.LanguageEntries)
            {
                <div class="card">
                    <LanguageEntryViewComponent LanguageEntry="laguageEntry" Disabled="true" IsLanguageEntry="true"></LanguageEntryViewComponent>
                </div>
            }
        }
    </div>
</div>
<hr />

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ParentCategoryID</span>
    </div>
    <input type="text" class="form-control" @bind="@Category.ParrentCategoryId" disabled>
</div>
<br />
<div class="card">
    <h5 class="card-header">
        <label>Parent Attributes</label>
    </h5>
    <div class="card-body">
        @foreach (var parentAttributes in GetParentAttributes())
        {
            @foreach (var parentAttribute in parentAttributes)
            {
                <div class="card">
                    <AttributeComponent CategoryAttribute="parentAttribute" Disabled="true"></AttributeComponent>
                </div>
            }
        }
    </div>
</div>
<hr />

<div class="card">
    <h5 class="card-header">
        <label>Attributes</label>
    </h5>
    <div class="card-body">
        @foreach (var thisAttribute in Category.CategoryAttributes)
        {
            <div class="card">
                <AttributeComponent CategoryAttribute="thisAttribute" Disabled="true"></AttributeComponent>
            </div>
        }
    </div>
</div>
<br />
<a href="/categories" class="btn btn-primary float-lg-right">Close</a>