@page  "/categories/view"
@page "/categories/view/{CategoryId}"
@using CategoryManegementTool.Client.Components
<h3>Category View</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ID</span>
    </div>
    <input type="text" class="form-control" @bind="@Category.Id" disabled>
</div>
<br />
<label>LanguageEntries</label>
@if (Category.LanguageEntries != null)
{
    @foreach (var laguageEntry in Category.LanguageEntries)
    {
        <div class="card">
            <LanguageEntryViewComponent LanguageEntry="laguageEntry" Disabled="true" IsLanguageEntry="true"></LanguageEntryViewComponent>
        </div>
    }
}
<br />
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ParentCategoryID</span>
    </div>
    <input type="text" class="form-control" @bind="@Category.ParrentCategoryId" disabled>
</div>
<hr />
<label>Parent Attributes</label>
@foreach (var parentAttributes in GetParentAttributes())
{
    @foreach (var parentAttribute in parentAttributes)
    {
        <div class="card">
            <AttributeComponent CategoryAttribute="parentAttribute" Disabled="true"></AttributeComponent>
        </div>
    }
}
<hr />
<label>Attributes</label>
@foreach (var thisAttribute in Category.CategoryAttributes)
{
    <div class="card">
        <AttributeComponent CategoryAttribute="thisAttribute" Disabled="true"></AttributeComponent>
    </div>
}
<br />
<a href="/categories" class="btn btn-primary float-lg-right">Close</a>