@page "/categories/comparer/{CategoryId}"
@using CategoryManegementTool.Client.Components.Compare
@inject Blazored.LocalStorage.ILocalStorageService localStore

<div>
    <h3>Category Status</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">CategoryID</span>
        </div>
        <input type="text" class="form-control" @bind="@CategoryId" disabled>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Status</span>
        </div>
        <input type="text" class="form-control" @bind="@Status" disabled>
    </div>
    <a href="/" class="btn btn-primary float-right" style="margin-right:10px">Return</a>
    <br />
    <hr />
</div>

@if (!Hidden)
{
    <div class="container">
        <CategoriesComparerComponent Category="Category" EditedCategory="EditedCategory" />
    </div>
}

