@page "/categories/export"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h3>Export</h3>
<textarea @bind="OutputJson" class="col-12" rows="25" disabled></textarea>
<br>
<div class="float-lg-right">
    <a href="/CategoryExport">
        <button>
            Export
        </button>
    </a>
</div>
