@page "/categories/import"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h3>Import</h3>
<textarea @bind="InputJson" class="col-12" rows="25"></textarea>
<br>
<button @onclick="ImportCategoriesAsync" class="float-lg-right">Continue</button>
<InputFile OnChange="SingleUpload" class="float-lg-right" />

